@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<h3>
    WildSpirit<br />
    Kraków<br />
    Telefon: (+48) 000 000 000
</h3>


<a href="https://www.facebook.com/WildSpiritJewelry/"><i class="fab fa-facebook-square fa-3x"></i></a>
<a href="https://www.instagram.com/wildspirit_jewerly/"><i class="fab fa-instagram fa-3x"></i></a>
