@{
    ViewBag.Title = "Wild Spirit";
}


<section id="start" class="home-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="home-text">
                    <h1>WildSpirit</h1>
                    <h2>Połączeni w pasji do drewna, zjednoczeni bliskością natury</h2>
                    <p>
                        <a href="#kontakt">Kontakt</a>
                        <a href="#">Więcej Informacji</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="o_nas" class="about-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="section-header">
                    <h1>Kim Jesteśmy</h1>
                    <h3>
                        Połączeni w pasji do drewna, zjednoczeni bliskością natury.
                        Tworzymy w pełni naturalne ręcznie wykańczane ozdoby i biżuterię.
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <img src="~/Content/Images/old-wood.jpg" alt="To my!" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h4>Tytuł</h4>
                    <p>
                        Lorem Ipsum jest tekstem stosowanym jako przykładowy
                        wypełniacz w przemyśle poligraficznym. Został po raz
                        pierwszy użyty w XV w. przez nieznanego drukarza do
                        wypełnienia tekstem próbnej książki. Pięć wieków później
                        zaczął być używany przemyśle elektronicznym, pozostając
                        praktycznie niezmienionym. Spopularyzował się w latach 60. XX w.
                        wraz z publikacją arkuszy Letrasetu, zawierających fragmenty
                        Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum
                        oprogramowaniem przeznaczonym do realizacji druków na komputerach
                        osobistych, jak Aldus PageMaker
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="produkty" class="products-area section-padding">
    <div class="products-header">
        <div class="row">
            <div class="col-md-12">
                <h1>Nasze produkty</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-border">
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="products-image">
                    <img src="~/Content/Images/prod1.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-md-offset-0 col-sm-offset-1">
                <h2>Produkt 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec varius mi ultricies dolor condimentum ullamcorper.
                    Nunc eu tincidunt odio. Cras ipsum felis, pharetra eget nisi tempus,
                    finibus maximus felis. Pellentesque lobortis sapien a massa varius
                    facilisis a eu ipsum. Curabitur imperdiet eros dolor, ut tristique
                    odio convallis ut. Sed auctor
                </p>
            </div>
        </div>
        <div class="row row-border">
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="products-image">
                    <img src="~/Content/Images/prod2.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-md-offset-0 col-sm-offset-1">
                <h2>Produkt 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed mollis vestibulum accumsan. Morbi lacinia, dui id
                    commodo congue, nibh risus fermentum eros, et tincidunt
                    augue nibh a ligula. Suspendisse a lectus lobortis,
                    varius nisi sit amet, accumsan leo. Mauris eget vestibulum
                    mauris. Quisque sollicitudin iaculis euismod.
                    Proin ac mauris pellentesque.
                </p>
            </div>
        </div>
        <div class="row row-border">
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="products-image">
                    <img src="~/Content/Images/prod3.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-md-offset-0 col-sm-offset-1">
                <h2>Produkt 3</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam varius tristique erat a pulvinar. In hac habitasse platea dictumst.
                    Donec ultrices dignissim pellentesque. Donec accumsan condimentum
                    consectetur. Nulla et tellus ut erat vulputate ultricies.
                    Nunc gravida mauris efficitur turpis pulvinar, at dignissim lorem imperdiet.
                    Ut interdum quam mi, id vestibulum.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="kontakt" class="contact-area section-padding">
    <div class="products-header">
        <div class="row">
            <div class="col-md-12">
                <h1>Kontakt</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    WildSpirit
                </h3>
                <h3>
                    Kraków
                </h3>
                <h3>
                    Telefon: (+48) 000 000 000
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-icons">
                    <a href="https://www.facebook.com/WildSpiritJewelry/"><i class="fab fa-facebook-square fa-3x"></i></a>
                    <a href="https://www.instagram.com/wildspirit_jewerly/"><i class="fab fa-instagram fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>



</section>